################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TranslationTool.slnx/FileContentIndex
/.vs
/backend/Properties
/presentation/.vs/phptasks.json
/presentation/.vs/launch.json
/presentation/storage
/presentation/database
/Translation.Domain.Tests/obj/Debug/net10.0/ref/Translation.Domain.Tests.dll
/Translation.Domain.Tests/bin/Debug/net10.0/nunit_random_seed.tmp
/Translation.Domain.Tests/bin/Debug/net10.0/Translation.Domain.dll
/Translation.Domain.Tests/bin/Debug/net10.0/Translation.Domain.pdb
/Translation.Domain.Tests/bin/Debug/net10.0/Translation.Domain.Tests.dll
/Translation.Domain.Tests/bin/Debug/net10.0/Translation.Domain.Tests.pdb
/Translation.Domain.Tests/obj/Debug/net10.0/refint/Translation.Domain.Tests.dll
/Translation.Domain.Tests/obj/Debug/net10.0/Translation.Domain.Tests.AssemblyInfo.cs
/Translation.Domain.Tests/obj/Debug/net10.0/Translation.Domain.Tests.AssemblyInfoInputs.cache
/Translation.Domain.Tests/obj/Debug/net10.0/Translation.Domain.Tests.csproj.AssemblyReference.cache
/Translation.Domain.Tests/obj/Debug/net10.0/Translation.Domain.Tests.dll
/Translation.Domain.Tests/obj/Debug/net10.0/Translation.Domain.Tests.pdb
/Translation.Domain.Tests/obj/Debug/net10.0/Translation.Domain.Tests.sourcelink.json
/Translation.Infrastructure/bin/Debug/net10.0/Translation.Domain.dll
/Translation.Infrastructure/bin/Debug/net10.0/Translation.Domain.pdb
/Translation.Infrastructure/bin/Debug/net10.0/Translation.Infrastructure.dll
/Translation.Infrastructure/bin/Debug/net10.0/Translation.Infrastructure.pdb
/Translation.Infrastructure/obj/Debug/net10.0/ref/Translation.Infrastructure.dll
/Translation.Infrastructure/obj/Debug/net10.0/refint/Translation.Infrastructure.dll
/Translation.Infrastructure/obj/Debug/net10.0/Translation.Infrastructure.AssemblyInfo.cs
/Translation.Infrastructure/obj/Debug/net10.0/Translation.Infrastructure.AssemblyInfoInputs.cache
/Translation.Infrastructure/obj/Debug/net10.0/Translation.Infrastructure.csproj.AssemblyReference.cache
/Translation.Infrastructure/obj/Debug/net10.0/Translation.Infrastructure.dll
/Translation.Infrastructure/obj/Debug/net10.0/Translation.Infrastructure.pdb
/Translation.Infrastructure/obj/Debug/net10.0/Translation.Infrastructure.sourcelink.json
/Translation.Domain/obj/Debug/net10.0/ref/Translation.Domain.dll
/Translation.Domain/bin/Debug/net10.0/Translation.Domain.dll
/Translation.Domain/bin/Debug/net10.0/Translation.Domain.pdb
/Translation.Domain/obj/Debug/net10.0/refint/Translation.Domain.dll
/Translation.Domain/obj/Debug/net10.0/Translation.Domain.AssemblyInfo.cs
/Translation.Domain/obj/Debug/net10.0/Translation.Domain.AssemblyInfoInputs.cache
/Translation.Domain/obj/Debug/net10.0/Translation.Domain.dll
/Translation.Domain/obj/Debug/net10.0/Translation.Domain.pdb
/Translation.Domain/obj/Debug/net10.0/Translation.Domain.sourcelink.json
